
.welcome {
    align-content: center;
    /* background-image: url('../../imgs/background.jpg'); */
    /* padding: 0; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
	background-position: center center;
}

.deecamp {
    font-size: 30px;
    /* opacity: 0.9; */
    color:whitesmoke;
    text-align: center;
    position: relative;
    padding-top: 0%;
    padding-bottom: 1%;
}
.groupname1 {
    font-size: 30pt;
    /* opacity: 0.8; */
    color:whitesmoke;
    text-align: center;
    position: relative;
    font-family: 'HYRunYuan-65W';
}
.groupname {
    font-size: 20pt;
    font-style: italic;
    /* opacity: 0.9; */
    color:white;
    text-align: center;
    font-family: 'HYRunYuan-65W';
}

.briefintro {
    padding-top:10%;
    font-size: 16pt;
    font-style: italic;
    /* opacity: 0.82; */
    color:whitesmoke;
    text-align: center;
    font-family: 'HYRunYuan-65W';
}

.deecampimg {

    /* opacity: 0.9; */
    /* color:whitesmoke; */
    text-align: center;
    position: relative;
    padding-top: 2%;
    padding-bottom: 0%;
}

#letsgo{
    background: whitesmoke;
    color: black;
    opacity: 0.9;
    border-radius: 30pt;
    width: 10%;
    font-weight:700;
    font-size: 14pt;
}

.testbuttontext {
    color: black
}

.imgssss {
    width: 15%;
}

.bgimg {
    height:500px;
    background-size: cover;

    /* padding-left: 0; */
    padding-top: 20px;
    background-size: 100%;
    background-image: url('../../imgs/background7.jpg');
    opacity:0.9;
    background-repeat: no-repeat;
}

#welcome-text {
    margin-left: 20px;
    margin-right: 20px;
   
}

.lead {
    margin-left: 50px;
}



.introduction {
    margin-bottom: 1%;
    /* padding-bottom: 0px; */
    margin-top: 1%;
    margin-left: 1%;
    /* text-align: center; */
 
}
.container-fluid {
    widows: 100%;
    margin-top: 0px;
    padding:0px;
    margin: 0px;


}
.row {
    margin-left: 5%;
    margin-right:5%;
    text-align: center;
    line-height: 2.3;
    margin-top: 1%;
}

.row-1 {
    line-height: 2.3;
    margin-top:1%;
}
.row-2 {
    line-height: 2.3;
    margin-top: 1%;
    margin-bottom: 20px;
}

.col-5 {
    text-align: center;
    line-height: 1.7;
}


.test_button {
    width: 20%;
    height: 20%;
    color:lightblue;
}



.btn-lg {
    background: black;
    border: 0;
    width:180px;
    height:50px;
    border-radius:20pt;
}




@font-face {
    font-family: 'HYRunYuan-65W';
    src: url('../../HYRunYuan-FEW.woff2') format('woff2'),
        url('../../HYRunYuan-FEW.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

