.media {
    margin-left:0px;
}


.media img {
    max-width: 200px;
    max-height:200px;
    margin-right: 20px;
}

.media div {
    margin-left: 100px;
    text-align: left;
    line-height: 2;
    font: 400;
}

