
.footer {
  /* color */
  /* width: 100%;
  height:100px;   /* footer的高度一定要是固定值*/ 
  padding-left: 0;
  padding-top: 20px;
  background-size: 100%;
  background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../../imgs/background3.jpg');
  opacity:0.9;
  background-repeat: no-repeat;
  /* background: #292e34; */
  color: aliceblue;
  margin-top: 10%;
  max-height: 50px;
    /* display */
    padding: 2em 1em;
    padding-bottom: 10em;
    /* position */
    /* position: relative; */
    /* font */
    font-size: 1em;
}


.footer-row {
  /* display */
  width: 50%;
  max-width: 100%;
  margin: 0 ;
}

.footer-header {
  /* display */
  padding: 0.4em 1em;

  /* font */
  font-size: 1.3em;
  line-height: 1.3;
  white-space: pre-line;
}

.footer-header > strong { font-size: 1.2em; }



.footer-body {
  margin-top: 0px;
}

.footer-desc { font-weight: 300; }

.footer-links {
  /* display */
  margin-top: 0.5cm;

}

.footer-link {
  /* display */
  padding-top: 0.3em;
  margin-right: 1100px;
  /* font */
  font-weight: 600;
}
.footer-link2 {
  /* display */
  padding-top: 0.3em;
  /* font */
  font-weight: 600;
  text-align: right;
}

.footer-copyright {
  /* position */
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;

  /* font */
  text-align: center;
}

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

@media (min-width: 480px) {
  .footer-header {
    /* display */
    padding: 0.35em 0.8em;

    /* font */
    font-size: 1.4em;
    line-height: 1.3;
  }

  .footer-body {
    /* display */
    padding-right: 3em;
  }

  .footer-links {
    /* display */
    display: flex;
    height: 8em;

    /* font */
    text-align: left;

    /* flex */
    flex-flow: column wrap
  }
}


