
.container1 img {
width: 10%;
text-align:center;
margin: auto;
}

.deecamplogo {
         text-align:center;
         padding-right: 10%;
    }

.container1 a { 
    color:white;
}

.navbar {
    padding-left: 0;
    padding-top:0;
    background-size: 100%;
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../../imgs/background3.jpg');
    opacity:0.90;
    border:0;
    background-repeat: no-repeat;
}